.title {
  font-family: RegalBlack, sans-serif;
  font-weight: 600;
  font-size: 4.6rem;
  text-align: center;
}
.section-title {
  font-family: RegalBlack, sans-serif;
  font-size: 6rem;
  text-align: center;
  &--md {
    font-size: 4rem;
  }
}
.section-subtitle {
  font-size: 1.8rem;
  text-align: center;
  padding: 1.6rem 0;
  line-height: 2.8rem;
}
.link {
  display: inline-block;
  font-size: 1.6rem;
  color: #59b958;
  text-decoration: underline;
  line-height: 1.4rem;
}
.date {
  display: inline-block;
  color: #999;
}
.tags {
  font-size: 1.2rem;
  color: rgba(51, 51, 51, 0.6);
  padding-right: 3px;
  line-height: 2.2rem;

  &--small {
    font-size: 1rem;
  }
}
.admin-page-title {
  text-align: center;
  font-size: 2.4rem;
  padding: 2rem 0;
  background-color: rgb(245, 247, 250);
  margin-bottom: 4rem;
  font-weight: 600;
  color: #909399;
}
.admin-section-title {
  font-size: 1.8rem;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid rgb(201, 201, 201);
  font-weight: 600;
}
