.expand-arrow-green {
  border: solid #59b958;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  transform: rotate(45deg);
  width: 6px;
  height: 6px;
  margin-left: 5px;
  margin-bottom: 2px;
  transition: transform 0.1s ease-in;
}
.expand-arrow-green.rotate {
  transform: rotate(224deg);
}
.expand-arrow-grey {
  border: solid #666;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  margin-left: 5px;
  margin-bottom: 2px;
  transition: transform 0.1s ease-in;
}
.expand-arrow-grey.rotate {
  transform: rotate(224deg);
}
.btn {
  display: inline-block;
  width: 23.5rem;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  padding: 1.8rem 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 44px;
  transition: all 0.25s;

  &-colored {
    background: #59b958;

    &:hover {
      background: #8bce8a;
    }
  }
  &-transparent {
    border: 1px solid #59b958;

    &:hover {
      background: #ffffff;
      color: #333;
    }
  }
  &-black {
    color: #333;
  }
}
