.d-none {
  display: none !important;
}
.d-flex {
  display: flex !important;
}
.flex-dir-column {
  flex-direction: column;
}
.pt4 {
  padding-top: 4rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mb4 {
  margin-bottom: 4rem;
}
.mb6 {
  margin-bottom: 6rem;
}
